* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  height: 100%;
}

.background-picture {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}

.daily-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 7.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7.5px 25px;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  border-radius: 9px;
  transition: width 0.2s, padding 0.2s, font-size 0.2s;
}
.daily-info p {
  margin: 0 auto;
  padding: 0 5px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
}
.daily-info .temperature {
  margin: 0 auto;
  text-align: center;
  display: flex;
}
.daily-info .day-temperature {
  padding: 0 15px;
}
.daily-info .day-row {
  font-weight: bold;
  display: flex;
}
.daily-info .line-between {
  margin: 5px 0;
  border: 1px solid;
  border-radius: 25px;
}

.quick-access {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  text-align: center;
  border-radius: 9px;
  transition: width 0.2s, height 0.2s;
}
.quick-access .items {
  position: absolute;
  display: inline-block;
  margin: 6px auto;
  width: 45px;
  height: 45px;
  transition: width 0.2s, height 0.2s;
}
.quick-access .items a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: 45px;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 7px;
  transition: color 0.3s, font-size 0.2s, border 0.1s, background-color 0.1s;
  cursor: pointer;
}
.quick-access .items a .icon-bg {
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 33px;
  height: 20px;
  background-color: antiquewhite;
  border-radius: 4px;
  transition: display 0.1s;
}
.quick-access .items a .circle-bg {
  width: 28px;
  height: 29px;
  border-radius: 50%;
}
.quick-access .items a .square-bg {
  width: 27px;
  height: 25px;
}
.quick-access .items a:hover {
  font-size: 35px;
  border: 2px solid antiquewhite;
  background-color: rgba(255, 255, 255, 0.3215686275);
}
.quick-access .items a:hover .icon-bg {
  display: block;
}
.quick-access .items .mail:hover {
  color: #fabc05;
}
.quick-access .items .youtube:hover {
  color: #ff0000;
}
.quick-access .items .github:hover {
  color: #913fa1;
}
.quick-access .items .linkedin:hover {
  color: #0a66c2;
}
.quick-access .items .reddit:hover {
  color: #ff4500;
}
.quick-access .i1 {
  left: 5%;
}
.quick-access .i2 {
  left: 32%;
  transform: translate(-50%);
}
.quick-access .i3 {
  left: 50%;
  transform: translate(-50%);
}
.quick-access .i4 {
  right: 32%;
  transform: translate(50%);
}
.quick-access .i5 {
  right: 5%;
}

.settings-button {
  z-index: 10;
  position: absolute;
  right: 0%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 30px;
  border-radius: 50%;
  transition: transform 0.3s, color 0.3s, background-color 0.3s, border 0.3s;
  cursor: pointer;
}

.settings-button:hover {
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid #fff;
}

.settings-panel {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  right: 0%;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: width 0.3s;
}
.settings-panel .settings {
  margin: 20px;
  transition: margin 0.3s;
}
.settings-panel .settings .settings-header {
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  transition: font-size 0.3s;
}
.settings-panel .settings .line-between {
  width: 100%;
  height: 3px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
}
.settings-panel .settings .segment {
  padding: 20px 0;
  transition: font-size 0.3s, padding 0.3s;
}
.settings-panel .settings .segment .title {
  font-size: 16px;
  cursor: default;
}
.settings-panel .settings .segment span {
  padding: 0 3px;
  font-size: 13px;
  cursor: pointer;
}

.savedtabs-button {
  display: none;
}

.savedtabs-panel {
  display: none;
}

.show {
  width: 100%;
}

.gear-turn {
  transform: translate(-50%, -50%) rotate(-180deg);
}

.active-setting {
  font-weight: bold;
  text-decoration: underline;
  transition: font-weight 0.3s;
}

.active-savedtabs {
  height: 300px;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.active-alignment {
  font-weight: bold;
  text-decoration: underline;
  transition: font-weight 0.3s;
}

@media (min-width: 390px) {
  .daily-info {
    padding: 8px 30px;
    border-radius: 11px;
    font-size: 18px;
  }
  .daily-info .line-between {
    margin: 8px 0;
  }
  .quick-access {
    width: 95%;
    height: 80px;
    font-size: 40px;
    border-radius: 11px;
  }
  .quick-access .items {
    margin: 9px auto;
    width: 60px;
    height: 60px;
  }
  .quick-access .items a {
    line-height: 60px;
    border-radius: 9px;
  }
  .quick-access .items a .rectangle-bg {
    width: 43px;
    height: 28px;
  }
  .quick-access .items a .circle-bg {
    width: 35px;
    height: 41px;
  }
  .quick-access .items a .square-bg {
    width: 35px;
    height: 31px;
  }
  .quick-access .items a:hover {
    font-size: 45px;
  }
}
@media (min-width: 480px) {
  .daily-info {
    padding: 9px 35px;
    border-radius: 13px;
    font-size: 22px;
  }
  .daily-info .line-between {
    margin: 9px 0;
  }
  .quick-access {
    width: 456px;
    height: 115px;
    font-size: 50px;
    border-radius: 13px;
  }
  .quick-access .items {
    margin: 18px auto;
    width: 75px;
    height: 75px;
  }
  .quick-access .items a {
    line-height: 75px;
    border-radius: 11px;
  }
  .quick-access .items a .rectangle-bg {
    width: 55px;
    height: 38px;
  }
  .quick-access .items a .circle-bg {
    width: 48px;
    height: 53px;
  }
  .quick-access .items a .square-bg {
    width: 50px;
    height: 40px;
  }
  .quick-access .items a:hover {
    font-size: 58px;
  }
  .settings-panel .settings {
    margin: 20px 30px;
  }
  .settings-panel .settings .settings-header {
    font-size: 26px;
  }
  .settings-panel .settings .segment {
    padding: 25px 0;
  }
  .settings-panel .settings .segment .title {
    font-size: 20px;
  }
  .settings-panel .settings .segment span {
    padding: 0 4px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .daily-info {
    padding: 11px 45px;
    border-radius: 13px;
    font-size: 24px;
  }
  .daily-info .line-between {
    margin: 11px 0;
  }
  .quick-access {
    width: 620px;
    height: 130px;
    font-size: 60px;
  }
  .quick-access .items {
    margin: 15px auto;
    width: 100px;
    height: 100px;
  }
  .quick-access .items a {
    line-height: 100px;
    border-radius: 13px;
  }
  .quick-access .items a .rectangle-bg {
    width: 69px;
    height: 47px;
    border-radius: 10px;
  }
  .quick-access .items a .circle-bg {
    width: 62px;
    height: 66px;
    border-radius: 50%;
  }
  .quick-access .items a .square-bg {
    height: 45px;
    width: 50px;
  }
  .quick-access .items a:hover {
    font-size: 70px;
  }
  .show {
    width: 780px;
  }
  .gear-turn {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  .settings-panel .settings {
    margin: 20px 40px;
  }
  .settings-panel .settings .settings-header {
    font-size: 32px;
  }
  .settings-panel .settings .segment {
    padding: 30px 0;
  }
  .settings-panel .settings .segment .title {
    font-size: 24px;
  }
  .settings-panel .settings .segment span {
    padding: 0 6px;
    font-size: 22px;
  }
  .savedtabs-button {
    display: block;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 40px;
    font-size: 35px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    transition: transform 0.3s, color 0.3s, background-color 0.3s, border 0.3s, bottom 0.3s, height 0.3s, border-radius 0.1s;
    cursor: pointer;
  }
  .savedtabs-button .fa-chevron-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s;
  }
  .savedtabs-button .chevron-rotate {
    top: 45%;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  .savedtabs-button:hover {
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid #fff;
  }
  .savedtabs-panel {
    display: block;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    width: 620px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    transition: height 0.3s, bottom 0.3s, overflow 0.1s;
  }
  .savedtabs-panel .savedtabs {
    margin: 0 10px;
  }
  .savedtabs-panel .savedtabs table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
  }
  .savedtabs-panel .savedtabs table th {
    padding: 10px;
    font-size: 26px;
  }
  .savedtabs-panel .savedtabs table td {
    width: 33%;
    padding: 10px 7px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  .savedtabs-panel .savedtabs table td a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8156862745);
    transition: color 0.3s;
  }
  .savedtabs-panel .savedtabs table td a:hover {
    color: #fff;
  }
  .savedtabs-panel .savedtabs table td + td {
    border-left: 2px solid #fff;
  }
  .active-savedtabs {
    bottom: 0px;
    height: 300px;
  }
  .active-savedtabsbtn {
    bottom: 285px;
    background-color: rgba(0, 0, 0, 0.9);
  }
}/*# sourceMappingURL=style.css.map */