// basic css reset
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
	background-color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	height: 100%;
}
// style for background image, displayed content is chosen via javascript function
.background-picture {
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: 50%;
}
// style for current day, location and weather
.daily-info {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 7.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 7.5px 25px;
	width: auto;
	height: auto;
	background-color: rgba($color: #000000, $alpha: 0.7);
	font-size: 14px;
	border-radius: 9px;
	transition: width 0.2s, padding 0.2s, font-size 0.2s;
	p {
		margin: 0 auto;
		padding: 0 5px;
		text-align: center;
		text-transform: capitalize;
		white-space: nowrap;
	}
	.temperature {
		margin: 0 auto;
		text-align: center;
		display: flex;
	}
	.day-row {
		font-weight: bold;
		display: flex;
	}
	.line-between {
		margin: 5px 0;
		border: 1px solid;
		border-radius: 25px;
	}
}

// style for quick access bar
.quick-access {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
	height: 60px;
	background-color: rgba($color: #000000, $alpha: 0.7);
	font-size: 30px;
	text-align: center;
	border-radius: 9px;
	transition: width 0.2s, height 0.2s;
	// mainly position style for each item
	.items {
		position: absolute;
		display: inline-block;
		margin: 6px auto;
		width: 45px;
		height: 45px;
		transition: width 0.2s, height 0.2s;
		// style for icons
		a {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			text-decoration: none;
			line-height: 45px;
			color: #fff;
			border: 2px solid rgba($color: #000000, $alpha: 0);
			border-radius: 7px;
			transition: color 0.3s, font-size 0.2s, border 0.1s, background-color 0.1s;
			cursor: pointer;
			// background style for rectangle acting as a template, it's invisible unless a mouse hovers over an icon
			.icon-bg {
				z-index: -2;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: none;
				width: 33px;
				height: 20px;
				background-color: antiquewhite;
				border-radius: 4px;
				transition: display 0.1s;
			}
			// background size for circle icons
			.circle-bg {
				width: 28px;
				height: 29px;
				border-radius: 50%;
			}
			// background size for square icons
			.square-bg {
				width: 27px;
				height: 25px;
			}
		}
		// during hover icon is enlarged, is given a visible border and contrasting background
		a:hover {
			font-size: 35px;
			border: 2px solid antiquewhite;
			background-color: #ffffff52;
			.icon-bg {
				display: block;
			}
		}
		// each icon has it's own color
		.mail:hover {
			color: #fabc05;
		}
		.youtube:hover {
			color: #ff0000;
		}
		.github:hover {
			color: #913fa1;
		}
		.linkedin:hover {
			color: #0a66c2;
		}
		.reddit:hover {
			color: #ff4500;
		}
	}
	// placement of items inside a quick access panel
	.i1 {
		left: 5%;
	}
	.i2 {
		left: 32%;
		transform: translate(-50%);
	}
	.i3 {
		left: 50%;
		transform: translate(-50%);
	}
	.i4 {
		right: 32%;
		transform: translate(50%);
	}
	.i5 {
		right: 5%;
	}
}
// styling for button that opens settings panel
.settings-button {
	z-index: 10;
	position: absolute;
	right: 0%;
	bottom: 0%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	color: #fff;
	background-color: rgba($color: #000000, $alpha: 0.9);
	border: 2px solid rgba($color: #000000, $alpha: 0);
	font-size: 30px;
	border-radius: 50%;
	transition: transform 0.3s, color 0.3s, background-color 0.3s, border 0.3s;

	cursor: pointer;
}
.settings-button:hover {
	color: #333;
	background-color: rgba($color: #ffffff, $alpha: 0.7);
	border: 3px solid #fff;
}
// settings panel to customize the home page
.settings-panel {
	z-index: 1;
	position: absolute;
	overflow: hidden;
	right: 0%;
	width: 0%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.9);
	transition: width 0.3s;
	.settings {
		margin: 20px;
		transition: margin 0.3s;
		.settings-header {
			padding: 15px 0;
			text-align: center;
			font-size: 24px;
			transition: font-size 0.3s;
		}
		// this is line that divides different parts of settings
		.line-between {
			width: 100%;
			height: 3px;
			margin: 0 auto;
			background-color: #fff;
			border-radius: 10px;
		}
		.segment {
			padding: 20px 0;
			transition: font-size 0.3s, padding 0.3s;
			.title {
				font-size: 16px;
				cursor: default;
			}
			span {
				padding: 0 3px;
				font-size: 13px;
				cursor: pointer;
			}
		}
	}
}
// styling of saved tabs panel !!! MOBILE VERSION IN THE FUTURE !!!
.savedtabs-button {
	display: none;
}
.savedtabs-panel {
	display: none;
}
// classes to use in javascript
.show {
	width: 100%;
}
.gear-turn {
	transform: translate(-50%, -50%) rotate(-180deg);
}
.active-setting {
	font-weight: bold;
	text-decoration: underline;
	transition: font-weight 0.3s;
}
.active-savedtabs {
	height: 300px;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.active-alignment {
	font-weight: bold;
	text-decoration: underline;
	transition: font-weight 0.3s;
}

// media queries for RWD
@media (min-width: 390px) {
	.daily-info {
		padding: 8px 30px;
		border-radius: 11px;
		font-size: 18px;
		.line-between {
			margin: 8px 0;
		}
	}
	.quick-access {
		width: 95%;
		height: 80px;
		font-size: 40px;
		border-radius: 11px;
		.items {
			margin: 9px auto;
			width: 60px;
			height: 60px;
			a {
				line-height: 60px;
				border-radius: 9px;
				.rectangle-bg {
					width: 43px;
					height: 28px;
				}
				.circle-bg {
					width: 35px;
					height: 41px;
				}
				.square-bg {
					width: 35px;
					height: 31px;
				}
			}
			a:hover {
				font-size: 45px;
			}
		}
	}
}
@media (min-width: 480px) {
	.daily-info {
		padding: 9px 35px;
		border-radius: 13px;
		font-size: 22px;
		.line-between {
			margin: 9px 0;
		}
	}
	.quick-access {
		width: 456px;
		height: 115px;
		font-size: 50px;
		border-radius: 13px;
		.items {
			margin: 18px auto;
			width: 75px;
			height: 75px;
			a {
				line-height: 75px;
				border-radius: 11px;
				.rectangle-bg {
					width: 55px;
					height: 38px;
				}
				.circle-bg {
					width: 48px;
					height: 53px;
				}
				.square-bg {
					width: 50px;
					height: 40px;
				}
			}
			a:hover {
				font-size: 58px;
			}
		}
	}
	.settings-panel {
		.settings {
			margin: 20px 30px;
			.settings-header {
				font-size: 26px;
			}
			.segment {
				padding: 25px 0;
				.title {
					font-size: 20px;
				}
				span {
					padding: 0 4px;
					font-size: 18px;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.daily-info {
		padding: 11px 45px;
		border-radius: 13px;
		font-size: 24px;
		.line-between {
			margin: 11px 0;
		}
	}
	.quick-access {
		width: 620px;
		height: 130px;
		font-size: 60px;
		.items {
			margin: 15px auto;
			width: 100px;
			height: 100px;
			a {
				line-height: 100px;
				border-radius: 13px;
				.rectangle-bg {
					width: 69px;
					height: 47px;
					border-radius: 10px;
				}
				.circle-bg {
					width: 62px;
					height: 66px;
					border-radius: 50%;
				}
				.square-bg {
					height: 45px;
					width: 50px;
				}
			}
			a:hover {
				font-size: 70px;
			}
		}
	}
	.show {
		width: 780px;
	}
	.gear-turn {
		transform: translate(-50%, -50%) rotate(-180deg);
	}
	.settings-panel {
		.settings {
			margin: 20px 40px;
			.settings-header {
				font-size: 32px;
			}
			.segment {
				padding: 30px 0;
				.title {
					font-size: 24px;
				}
				span {
					padding: 0 6px;
					font-size: 22px;
				}
			}
		}
	}
	// most of saved tabs panel code is written in this media query because I decided to create it for big screen only (smaller screens will have swipable columns, once I manage to do this, I will update and clean the code!!!)
	.savedtabs-button {
		display: block;
		position: absolute;
		bottom: 0%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90px;
		height: 40px;
		font-size: 35px;
		color: #fff;
		background-color: rgba($color: #000000, $alpha: 0.9);
		border: 1px solid rgba($color: #000000, $alpha: 0);
		border-radius: 15px;
		transition: transform 0.3s, color 0.3s, background-color 0.3s, border 0.3s, bottom 0.3s, height 0.3s,
			border-radius 0.1s;
		cursor: pointer;
		.fa-chevron-up {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: transform 0.3s;
		}
		.chevron-rotate {
			top: 45%;
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}
	.savedtabs-button:hover {
		color: #333;
		background-color: rgba($color: #ffffff, $alpha: 0.7);
		border: 3px solid #fff;
	}
	.savedtabs-panel {
		display: block;
		overflow: hidden;
		position: fixed;
		bottom: 0px;
		left: 50%;
		transform: translate(-50%);
		width: 620px;
		height: 0px;
		background-color: rgba($color: #000000, $alpha: 0.9);
		border-top-left-radius: 13px;
		border-top-right-radius: 13px;
		transition: height 0.3s, bottom 0.3s, overflow 0.1s;
		.savedtabs {
			margin: 0 10px;
			table {
				height: 100%;
				width: 100%;
				border-collapse: collapse;
				th {
					padding: 10px;
					font-size: 26px;
				}
				td {
					width: 33%;
					padding: 10px 7px;
					font-size: 20px;
					border: 1px solid rgba($color: #000000, $alpha: 0);
					a {
						width: 100%;
						height: 100%;
						text-decoration: none;
						font-weight: bold;
						color: #ffffffd0;
						transition: color 0.3s;
					}
					a:hover {
						color: #fff;
					}
				}
			}
			table td + td {
				border-left: 2px solid #fff;
			}
		}
	}
	.active-savedtabs {
		bottom: 0px;
		height: 300px;
	}
	.active-savedtabsbtn {
		bottom: 285px;
		background-color: rgba($color: #000000, $alpha: 0.9);
	}
}
